* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
}


    .menu{
    list-style: none;
    padding: 0;
    
    width: 90px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;

}

.menu li a:hover{
    background: #3104B4;
}



header {
    height: 100px;
    background: #610B4B;
    width: 100%;
    z-index: 10;
    position: fixed;
}
.logo {
    width: 30%;
    float: left;
    line-height: 100px;
}
.logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: poppins;
    color: #fff;
    letter-spacing: 5px;
}
nav {
    float: right;
    line-height: 100px;
}

.banner-area {
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url('https://userscontent2.emaze.com/images/bfe43375-7989-495d-aa85-4941b34baed5/2ccb6866ad8f96c5c3c5759c7e49fbc3.jpg'); 
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.banner-area h2 {
    padding-top: 8%;
    font-size: 70px;
    font-family: poppins;
    text-transform: uppercase;
    color: #fff;
}


.content-area {
    width: 100%;
    position: relative;
    top: 450px;
    background: #5F04B4;
    height: 1500px;
}
.content-area h2 {
    font-family: poppins;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}
.content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 30px;
}

.tit{
 background-color: lightblue;
  letter-spacing: 10px;
}

.dos{
 background-color: skyblue;
 letter-spacing: 10px;
 font-family: Comic sans;
}

.tres{
  background-color: rgb(182,149,192);
 letter-spacing: 10px;
 font-family: Comic sans;
}


body{
  background-color: lightgrey;
  font-family: sans-serif;
}

.container{
  margin: auto;
  background-color: #FE2EF7;
  width: 800px;
  padding: 30px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 800px;
  height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menuu{
  text-align: center;
  margin: 20px;
}

.menuu li{
  display: inline-block;
  text-align: center;
}

.menuu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

.item {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 20px;
}

.item-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.item-image {
  height: 300px;
  width: 100%;
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 15px;
}

.item-details > .item-price {
  margin: 0;
}

/* ? SHOPPING CART */
.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
}
